{% block content %}
<h1>Вход</h1>
<form method="post" action="{% url 'users:login' %}">
  {% csrf_token %}
  {{ form.non_field_errors }}
  <p>
    <label for="id_username">E-mail</label><br>
    {{ form.username }}
  </p>
  <p>
    <label for="id_password">Пароль</label><br>
    {{ form.password }}
  </p>
  <button type="submit">Войти</button>
</form>
<p><a href="{% url 'users:password_reset' %}">Забыли пароль?</a></p>
<p>Нет аккаунта? <a href="{% url 'users:register' %}">Регистрация</a></p>
{% endblock %}
