amqp==5.3.1
asgiref==3.9.2
billiard==4.2.2
celery==5.4.0
channels==4.1.0
channels-redis==4.2.0
click==8.3.0
click-didyoumean==0.3.1
click-plugins==1.1.1.2
click-repl==0.3.0
Django==5.1
django-allauth==64.1.0
django-htmx==1.22.0
django-taggit==6.1.0
djangorestframework==3.15.2
gunicorn==23.0.0
kombu==5.5.4
msgpack==1.1.1
packaging==25.0
pillow==11.3.0
prompt_toolkit==3.0.52
psycopg2==2.9.10
psycopg2-binary==2.9.10
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
redis==5.0.8
six==1.17.0
sqlparse==0.5.3
tzdata==2025.2
vine==5.1.0
wcwidth==0.2.14
whitenoise==6.7.0
